<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/<%= dataProfile[0].id %>/profile" method="post">
    <div>
        <label for="">Name</label>
        <input type="text" name="name" value="<%= dataProfile[0].name %>">
    </div>
    <div>
        <label for="">Address</label>
        <input type="text" name="address" value="<%= dataProfile[0].userAddress %>">
    </div>
    <div>
        <input type="submit" value="UPDATE">
    </div>
    <div>
        <a href="/user/<%= dataProfile[0].id %>/delete">Delete</a>
        <a href="/logout">Logout</a>
        <a href="/user/<%= dataProfile[0].id %>/shipping">all Ship</a>
        <!-- <button type="button" onclick="location.href='/user/ejs/delete'">Delete</button> -->
    </div>
    </form>

</body>
</html>