<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=tab, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/user/<%= idProfile %>/shipping?status=true">Receive</a>
        <a href="/user/<%= idProfile %>/shipping?status=false">Not Receive</a>
    <!-- <a href="/user/:iduser/shipping/add">Add shipping</a> -->
    <a href="/user/<%= idProfile %>/shipping/add">Add Shipping</a>
    <table border="1">
        <tr>
            <th>destination</th>
            <th>estArrival</th>
            <th>createdAt</th>
            <th>item</th>
            <!-- <th>price</th>
            <th>description</th> -->
            <th>status</th>
            <th>invoice</th>
        </tr>

        <% data.forEach(e => { %>
        <tr>
            <td><%= e.destination %></td>
            <td><%= formatDate(e.estArrival) %></td>
            <td><%= formatDate(e.createdAt) %></td>
            <td>
            <% e.ShippedItems.forEach(element => { %>
            <!-- <tr> -->
            <%= element.Item.name %>
            <%= element.Item.price %>
            <%= element.Item.description %>||
            <!-- </tr> -->
            <% }) %>
            </td>
            <td><%= e.statusReceive %></td>
            <td><a href="/user/<%= idProfile %>/shipping/cetakInvoice/<%= e.id %>">Cetak</a></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>